@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6a2c70;
    --nav-color: #363740;
    --dash-color: #fff;
    --logo-color: #fff;
    --text-color: #000;
    --text-color2: white;
    --text-color-light: #333;
    --white: #fff;
    --border-color: #ccc;
    --toggle-color: #fff;
    --box1-color: #6fedd6;
    --box2-color: #c1d5a4;
    --box3-color: #ffd39a;
    --title-icon-color: #fff;
    --btn1: #EEF2F5;
    --btn2: #10CD45;
    --scrol: rgb(44, 44, 250);
    --red: red;

    --time-03: all 0.3s linear;
    --time-02: all 0.2s linear;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--dash-color);
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

body.dark {
    --primary-color: #3a3b3c;
    --nav-color: #181919;
    --dash-color: #262629;
    --logo-color: #ddd;
    --text-color: #ccc;
    --text-color2: #5c5a5a;
    --text-color-light: #ccc;
    --white: #aaa;
    --border-color: #404040;
    --toggle-color: #ddd;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ddd;
    --btn1:rgb(207, 205, 205);
    --btn2: rgb(207, 205, 205);
    --red: #ccc;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scrol);
    border-radius: 100px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--nav-color);
    padding: 10px 0 10px 10px;
    transition: var(--time-03);
}

nav.close {
    width: 72px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

nav .logo-image img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo .logo-name {
    font-size: 22px;
    font-weight: 600;
    color: var(--logo-color);
    margin-left: 14px;
    white-space: nowrap;
    transition: var(--time-02);
}

nav.close .logo .logo-name {
    opacity: 0;
}

nav .items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    justify-content: space-between;
}

nav .items li {
    list-style: none;
}

nav .items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
}



nav .items li.active a {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
}

nav .items li a ion-icon {
    color: var(--white);
    font-size: 20px;
    min-width: 45px;
}

nav .items li a .links {
    font-size: 15px;
    color: var(--white);
    transition: var(--time-02);
}

nav.close .items li a .links {
    opacity: 0;
}

nav .items li.active a {
    background-color: var(--dash-color);
}

nav .items li.active a:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    border-radius: 50%;
    box-shadow: 20px 20px var(--dash-color);
    pointer-events: none;
}

nav .items li.active a:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -40px;
    border-radius: 50%;
    box-shadow: 20px -20px var(--dash-color);
    pointer-events: none;
    transition: 0.1s;
}


nav .items li.active a .links {
    color: var(--primary-color);
}

body.dark nav .items li.active a .links,
body.dark nav .items li.active a ion-icon {
    color: var(--text-color);
}

nav .items li.active a ion-icon {
    color: var(--primary-color);
}

nav .items .mode {
    display: flex;
}

.items .darkToggle {
    position: absolute;
    right: 15px;
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkToggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.darkToggle .switch:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--nav-color);
    transition: var(--time-02);
}

body.dark .switch::before {
    left: 20px;
}


.main {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: var(--dash-color);
    padding: 10px 15px;
    transition: var(--time-03);
}

nav.close~.main {
    width: calc(100% - 72px);
    left: 72px;
}


.main .top {
    position: fixed;
    background-color: var(--dash-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 250px;
    top: 0;
    padding: 10px 15px;
    width: calc(100% - 250px);
    transition: var(--time-03);
    z-index: 100;
}

nav.close~.main .top {
    width: calc(100% - 72px);
    left: 72px;
}

.main .top .navToggle {
    font-size: 25px;
    color: var(--text-color);
    cursor: pointer;
}
.main .samariddin{
    color: var(--text-color);
}

.top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main .top .searchBox {
    position: relative;
    height: 45px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    width: 80%;
    margin: 0 30px;
}

.main .top .searchBox:focus-within {
    border-color: #0ff9;
    box-shadow: 0 0 5px #0ff9;
}

.top .searchBox input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: none;
    background-color: var(--dash-color);
    color: var(--text-color);
}

.top .searchBox input:focus {
    outline: none;
}

.top .searchBox ion-icon {
    font-size: 22px;
    color: var(--text-color-light);
    padding: 0 15px;
}

.container {
    padding-top: 50px;
}


.container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 30px;
}
.container .title button:nth-child(1){
    padding: 6px 20px;
    background-color: var(--btn1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container .title button:nth-child(2){
    padding: 6px 20px;
    background-color: var(--btn2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.container .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}


.activity-data .data-title {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 10px;
}

.activity-data .data-list {
    font-size: 17px;
    color: var(--text-color);
    margin: 18px 0;
    white-space: nowrap;
}
.activity-data .green{
    color: var(--btn2);
}
.activity-data .red{
    color: var(--red);
}

.activity-data .data-list2 {
    font-size: 17px;
    color: var(--text-color2);
    margin: 17.3px 0;
    white-space: nowrap;
}

.type button:nth-child(even){
    background: #F12B2C;
    border-radius: 100px;
    border: none;
    padding: 5px 0;
}

.type button:nth-child(odd){
    background: #29CC97;
    border-radius: 100px;
    border: none;
    padding: 5px 10px;
}

@media (max-width: 1000px) {
    .activity-data {
        overflow: auto;
    }
}
@media (max-width:768px) {
    nav {
        width: 72px;
    }

    nav.close {
        width: 250px;
    }
    nav .logo .logo-name {
        opacity: 0;
    }

    nav.close .logo .logo-name {
        opacity: 1;
    }

    .items li a .links {
        opacity: 0;
    }

    nav.close .items li a .links {
        opacity: 1;
    }

    .main {
        width: calc(100% - 72px);
        left: 72px;
    }

    nav.close~.main {
        width: calc(100% - 250px);
        left: 250px;
    }

    .main .top {
        width: calc(100% - 72px);
        left: 72px;
    }

    nav.close~.main .top {
        width: calc(100% - 250px);
        left: 250px;
    }


    .container .boxes .box {
        width: calc(100%/2 - 15px);
        margin-top: 30px;
    }
}
@media (max-width: 560px) {
    .container .boxes .box{
        width: 100%;
    }
    .activity-data .data-list {
        font-size: 16px;
    }
}
@media (max-width: 425px) {
    nav{
        transform: translateX(-73px);
    }
    nav.close{
        transform: translateX(0);
        width: 73px;
    }
    

    nav.close .logo .logo-name {
        opacity: 0;
    }

    

    nav.close .items li a .links {
        opacity: 0;
    }
    .main {
        width: 100%;
        left: 0px;
    }

    nav.close~.main {
        width: calc(100% - 72px);
        left: 72px;
    }

    .main .top {
        width: 100%;
        left: 0;
    }

    nav.close~.main .top {
        width: calc(100% - 72px);
        left: 72px;
    }

}